*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: black;
}

nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav>div{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}


nav>div>p{
    padding: 10px;
}

.user{
    background-color: #FFFFFF;
    border-radius: 50px;
    color: black;
}
.user>div{
    padding-inline: 7px;
}


.search{
    width: fit-content;
    padding: 5px;
    /* padding-inline: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    margin-block: 20px;
}

.search>div{
    margin-inline: 15px ;
}

#v-rule{
    width: 0px;
    height: 30px;
    border: rgb(230, 228, 228) solid 1px;
}

.hero{
    display: flex;
    justify-content: center;
    margin-block: 10px;
}

.hero>img{
    width: 85%;
    border-radius: 10px;
}
